# Objective
Learn Data-Cleaning using Python methods.

# File 
A sample customer call-list in Excel format. <br>
Command used : %pip install openpyxl (% is a magic command, used in Jupyter Notebook) <br>
Panda provides the functionality but panda also needs openpyxl to handle/manage and parse through the Excel file (openpyxl).

In [29]:
import pandas as pd

In [50]:
df = pd.read_excel(r"C:\Users\DingoPC\Desktop\Data Science\Jupyter\Customer Call List.xlsx")
original_df = df.copy() #GoodHabit to keep a copy of original data

# Removing Duplicates
function : pandas.DataFrame.drop_duplicates() - Return DataFrame with duplicate rows <b>removed</b>

In [41]:
df = df.drop_duplicates()

# Dropping useless, unnecessary columns 

function : pandas.DataFrame.drop(labels , columns)<br>
For example - Column "Not_Useful_Column" can be dropped. Hence

In [42]:
df.columns

Index(['CustomerID', 'First_Name', 'Last_Name', 'Phone_Number', 'Address',
       'Paying Customer', 'Do_Not_Contact', 'Not_Useful_Column'],
      dtype='object')

In [43]:
df = df.drop(columns = "Not_Useful_Column")

# Removing out extra characters -

To remove extra characters like ... or / or _ in the column <b>Last_Name</b>.<br>
One way to do is to use Pandas.DataFrame.str.strip() function.

In [51]:
df["Last_Name"] = df["Last_Name"].str.strip("123._/")
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,True
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes,False
2,1003,Walter,White,7066950392,298 Drugs Driveway,N,NaN,True
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No,True
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes,True
6,1007,Jeff,Winger,NaN,1209 South Street,No,No,False
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No,False
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN,False
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No,True
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No,True
11,1012,Harry,Potter,7066950392,2394 Hogwarts Avenue,Y,NaN,True
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N,False
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No,False
14,1015,Toby,Flenderson,304-762-2467,214 HR Avenue,N,No,False
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N,False
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No,False
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN,True
18,1019,Creed,Braton,N/a,N/a,N/a,Yes,True
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True
20,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True

# Cleaning Phone Numbers 

Goal is to convert all of them in an uniform format (123-123-123). <br>
Function to be used - pandas.Series.str.replace(pattern, replacement) <br>

In [52]:
df["Phone_Number"] = df["Phone_Number"].str.replace('[^a-zA-Z0-9]',"", regex=True) 
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,1235455421,"123 Shire Lane, Shire",Yes,No,True
1,1002,Abed,Nadir,1236439775,93 West Main Street,No,Yes,False
2,1003,Walter,White,NaN,298 Drugs Driveway,N,NaN,True
3,1004,Dwight,Schrute,1235432345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True
4,1005,Jon,Snow,8766783469,123 Dragons Road,Y,No,True
5,1006,Ron,Swanson,3047622467,768 City Parkway,Yes,Yes,True
6,1007,Jeff,Winger,NaN,1209 South Street,No,No,False
7,1008,Sherlock,Holmes,8766783469,98 Clue Drive,N,No,False
8,1009,Gandalf,NaN,Na,123 Middle Earth,Yes,NaN,False
9,1010,Peter,Parker,1235455421,"25th Main Street, New York",Yes,No,True
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No,True
11,1012,Harry,Potter,NaN,2394 Hogwarts Avenue,Y,NaN,True
12,1013,Don,Draper,1235432345,2039 Main Street,Yes,N,False
13,1014,Leslie,Knope,8766783469,343 City Parkway,Yes,No,False
14,1015,Toby,Flenderson,3047622467,214 HR Avenue,N,No,False
15,1016,Ron,Weasley,1235455421,2395 Hogwarts Avenue,No,N,False
16,1017,Michael,Scott,1236439775,"121 Paper Avenue, Pennsylvania",Yes,No,False
17,1018,Clark,Kent,NaN,3498 Super Lane,Y,NaN,True
18,1019,Creed,Braton,Na,N/a,N/a,Yes,True
19,1020,Anakin,Skywalker,8766783469,"910 Tatooine Road, Tatooine",Yes,N,True
20,1020,Anakin,Skywalker,8766783469,"910 Tatooine Road, Tatooine",Yes,N,True

In [ ]:
# REGEX (Regular Expressions) are a mini-language used for searching, matching, 
# and replacing text patterns.
# 
# In older versions of pandas, str.replace(pattern, replacement) automatically 
# treated 'pattern' as a Regular Expression.
# 
# However, in newer versions (v1.4+), pandas treats 'pattern' as a literal string 
# by default. To use a Regular Expression, we now need to explicitly specify 
# regex=True.
#
# Example:
# df["col"].str.replace('[^a-zA-Z0-9]', '', regex=True)
# â†’ Removes all characters except letters and numbers.