# Group Comparisons ---
We will learn how to make intelligent comparisons between groups (using business case scenarios) <br>
In the beginning, we will start small by observing one group alone and performing descriptive statistics, draw plots that capture its essence. Moving, we can reason between the sample with two groups and conlude with two statistical significance tests: the t-test and Mann-Whitney U-test.

### About Data --
This data records measurements of 1,034 professional basketball players, including their height, weight and age at the time of measurement.<br>
<b>The collective 1034 people are called population, which in the world of statistics means any set of similar itmes that are being studied to answer a particular question.</b>

In [4]:
import pandas as pd
df = pd.read_csv('mlb.csv')
print(df.head())
print(df.tail())
print(df.shape) #One row for each person recorded and one column for each fact measured about the person.

              name team       position  height  weight    age
0    Adam_Donachie  BAL        Catcher      74   180.0  22.99
1        Paul_Bako  BAL        Catcher      74   215.0  34.69
2  Ramon_Hernandez  BAL        Catcher      72   210.0  30.78
3     Kevin_Millar  BAL  First_Baseman      72   210.0  35.43
4      Chris_Gomez  BAL  First_Baseman      73   188.0  35.71
                name team        position  height  weight    age
1029   Brad_Thompson  STL  Relief_Pitcher      73   190.0  25.08
1030   Tyler_Johnson  STL  Relief_Pitcher      74   180.0  25.73
1031  Chris_Narveson  STL  Relief_Pitcher      75   205.0  25.19
1032   Randy_Keisler  STL  Relief_Pitcher      75   190.0  31.01
1033     Josh_Kinney  STL  Relief_Pitcher      73   195.0  27.92
(1034, 6)

In [5]:
# Doing exploratory analysis everytime we get a new data set is useful. .describe()
print(df.describe())

            height       weight          age
count  1034.000000  1033.000000  1034.000000
mean     73.697292   201.689255    28.736712
std       2.305818    20.991491     4.320310
min      67.000000   150.000000    20.900000
25%      72.000000   187.000000    25.440000
50%      74.000000   200.000000    27.925000
75%      75.000000   215.000000    31.232500
max      83.000000   290.000000    48.520000

In [12]:
df.loc[df['weight'].isna(), :]

              name team          position  height  weight    age
640  Kirk_Saarloos  CIN  Starting_Pitcher      72     NaN  27.77